<div class="dynamic-field form-select"
     [formGroup]="group">
    <label>{{ inputs.label }}</label>
    <select [formControlName]="inputs.name">
        <option value="">{{ inputs.placeholder }}</option>
        <option *ngFor="let option of config.options">
            {{ option }}
        </option>
    </select>
</div>