<div class="form">
    <div *ngFor="let input of inputs" >
        <form #myform="ngForm" [formGroup]="form" (ngSubmit)="onSubmit(myform)" >
            <div class="panel">
                <div class="panel-heading">
                    <div class="">
                        <h4 class="form__title text-center">{{form.value.form1}}</h4>
                    </div>
                </div>
                <div class="content">
                    <div *ngFor="let item of form.value.items">
                        <ng-container
                                dynamicField
                                [inputs]="item"
                                [group]="form">
                        </ng-container>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-submit" ng-disabled="myform.$invalid" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
