
.form {
	max-width: 80%;
	margin: 100px auto 0;
}
.form__title {
	color: #000;
	font-size: 3rem;
	font-weight: 700;
}
.panel {
	border-color: #ddd;
	border-radius: 10px;
}
.panel-heading {
	background-color: #f5f5f5;
	border-radius: 10px 10px 0 0 ;
	padding: 2rem 0;
}
.panel-footer {
	display: flex;
	justify-content: flex-end;
}
.btn-submit {
	border: 1px solid #AAA;
	color: green;
	background-color: transparent;
}
