.section__details {
  padding: 1.5rem;

  label {
    text-align: left;
  }
}
.section-header {
  background-color: #f2f7f4;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24);
  padding: 1rem;
  color: #000;
  text-align: left;
  margin-top: 0;
  font-size: 19px;
  font-weight: 600;
  border-bottom: 2px solid #e3002c;
  width: 100%;
}
.section__wrapper{
  display:flex;
  flex-wrap: wrap;
}