<div [formGroup]="group" class="section__wrapper">
    <h3 class="section-header">{{ inputs.header }}</h3>
    <!--<div class="row">-->
    <div class="section__details col-xs-12 col-md-{{ 12 / columns.length }}" *ngFor="let col of columns; let j = index" >
         <!--[ngStyle]="{'width': '50%'}">-->
        <ng-container *ngFor="let item of inputs.items; let i = index">
            <div dynamicField
                 *ngIf="i >= j * roundme(inputs.items.length / columns.length) && i+1 <= (j+1) * roundme(inputs.items.length / columns.length)"
                 [inputs]="item"
                 [group]="group">
            </div>
        </ng-container>
    </div>
    <!--</div>-->
</div>