<div class="dynamic-field form-date col-sm-{{inputs.cols? inputs.cols : '12' }}" [formGroup]="group">
    <label>{{ inputs.label }}</label>
    <input type="date" [value]="inputs.value" [ngStyle]="{'height': '42px'}">
</div>