<div class="dynamic-field form-input col-xs-12 col-sm-{{inputs.cols? inputs.cols : '12' }}" [formGroup]="group">
    <label>{{ inputs.label }}</label>
    <input [type]="inputs.type" [value]="inputs.value" formControlName="value" value="{{inputs.value}}"
           [required]="inputs.required ? 'true' : 'false'"
    />
</div>