<div class="dynamic-field form-currency col-sm-{{inputs.cols? inputs.cols : '12' }}" [formGroup]="group">
    <label>{{ inputs.label }}</label>
    <div class="input-icon inner-addon left-addon">
        <i class="glyphicon glyphicon-{{inputs.symbol | lowercase}}"></i>
        <input type="text" formControlName="currency"
               [type]="inputs.type"
               placeholder="0.00"
               [value]="inputs.precision?(inputs.value | number:'3.2-2' ):(inputs.value | number:'3.0')"
        >
    </div>
</div>